.image-container {
    width: 400px;
    height: 250px;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

.modal-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}